@model CoverType

<form method="post" class="container">
	@*<div asp-validation-summary="All"></div>*@

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create CoverType</h2>
			<hr />
		</div>

		<div class="mb-3">
			<label class="form-label" asp-for="Name">Name <span class="text-danger">*</span></label>
			<input class="form-control" asp-for="Name" disabled/>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary" style="width: 175px">Create</button>
		<a asp-controller="CoverType" asp-action="Index" class="ms-2 btn btn-secondary border border-2" style="width: 175px">Back to List</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}